<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
  <h1 style="color:crimson"><b>About Us</b></h1>

</head>
<body>
<ul>Hirecar is a online car rental booking website. From short road trips to quick in-city drives we have the cheapest car rental options for all your needs!</ul>
<ul>With Hirecar, you can experience the convenience of online booking. The cars listed on our platform come with all-India permits that include vehicle insurance. It is extremely easy to pick up the car from the host location. You can drive unlimited KMs, with 100% Free Cancellation up to 5 hours before the trip start.Here the car rent is not depends on KM rather than per day.From short road trips to quick in-city drives for groceries, supply pick-up, meeting friends and family, doctor visits, business trips,the cheapest car rental options are available for you!</ul>
<h2 style="color:darkblue"><b>Why HireCar?</b></h2>
<h3 style="color:green">Self Drive</h3>
<ul>Hirecar gives you the freedom of self-drive!</ul>
<h3 style="color:green">Unlimited KMs</h3>
<ul>You must never stop exploring! That’s why you get unlimited KMs with every booking!</ul>
<h3 style="color:green">No Paperwork</h3>
<ul>You can rent a car & start traveling with zero paperwork requirements! All you need in your driver’s license, national ID</ul>
<h3 style="color:green">Long Duration</h3>
<ul>Don’t put a limit to your travel plans - our long-duration bookings are here for you.You can rent a car for months also</ul>
<h3 style="color:green">How To Rent a Car Through Hirecar</h3>
<ul>If you’re looking for cars to rent near you, Hirecar is your perfect solution!</ul>
 <ul>Rent cars in 3 easy steps: SingUp and login to the website. Select the city of your choice.Then Book the car of your choice from the list of available cars for the required period of days.</ul>
</body>
</html>