{% extends 'car_dealer_navbar.html' %}
{% block title %} Car Dealer Login {% endblock %}
{% block css %}
<style>
    h1 {
        text-align: center;
        color: black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    th {
        background-color: #72a716;
        color: white;
    }

    th,
    td {
        border: 2px solid #ddd;
    }
</style>
{% endblock %}
{% block body %}
<div class="container">
    {% if all_orders %}
    <h1 class="mt-4">Current Orders</h1>
    <div class="users-table mt-4">
        <table>
            <tbody>
                <tr>
                    <th>Customer Name</th>
                    <th>Car Name</th>
                    <th>Image</th>
                    <th>Days</th>
                    <th>Rent</th>
                    <th>Capacity</th>
                    <th>GPS</th>
                    <th>Action</th>
                </tr>
                {% for order in all_orders %}
                <tr>
                    <td>{{order.user.get_full_name}}</td>
                    <td>{{order.car.name}}</td>
                    <td><img src="{{order.car.image.url}}" alt="" width="100px" height="100px"></td>
                    <td>{{order.days}}</td>
                    <td>₹ {{order.rent}}</td>
                    <td>{{order.car.capacity}}</td>
                    <td><a href ="/rout_path/{{order.id}}" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                    <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/><path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                    </a></svg></td>
                   <td>
  <form action="/complete_order/" method="post" id="completeForm">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ order.id }}">
    <button class="btn btn-primary" type="submit" id="completeButton">Complete</button>
  </form>
</td>

<script>
  const completeButton = document.getElementById('completeButton');
  const completeForm = document.getElementById('completeForm');

  completeButton.addEventListener('click', function (event) {
    event.preventDefault(); // Prevent the form submission

    completeButton.innerText = 'Completed'; //complete button is disabled
    completeButton.disabled = true;
  });
</script>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h2>No Orders Right Now</h2>
        {% endif %}
    </div>
    {% endblock %}