<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terms and Conditions</title>
</head>
<body>
 <h1>Terms and Conditions</h1>
 <p>Here are some terms and conditions for car dealer:</p>
 <ul>1.Eligibility:Car dealers must specify the eligibility criteria to join the platform, such as possessing a valid business license,accurate information about their dealership.</ul>
<ul>2.Listing and Vehicle Information: Car dealers has to provide accurate and up-to-date information about the vehicles they list on the platform, including model,features,capacity,condition and availability.</ul>
<ul>3.Ownership and Authority: Require car dealers to ensure they have legal ownership or authority over the vehicles they list. They should be responsible for resolving any disputes related to ownership or legal issues arising from the vehicles they offer.</ul>
<ul>4.Pricing and Payment: Car dealers are responsible for setting their own rental prices</ul>
<ul>5.Vehicle Condition and Maintenance:Car dealers are responsible for maintaining their vehicles in good working condition, complying with safety regulations, and providing clean and presentable vehicles to renters.</ul>
<ul>6.Insurance and Liability:Dealers are responsible for obtaining and maintaining appropriate insurance coverage for their vehicles.</ul>
<ul>7.Booking Confirmation and Cancellation:Car dealers are responsible to confirm or reject rental requests from customers.</ul>
<ul>8.Termination or Suspension: Online platform reserves the right to terminate or suspend a car dealer's account if they violate the terms and conditions, engage in fraudulent activities.</ul>

</body>
</html>