<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
</head>
<body>
<h1 style="color:red" align="center"><b></b></h1>
<br>
<br>
<p style="background-image: url('img_girl.jpg');">
<div class="container mt-4" style="text-align: center;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmejDFQLtkMhdTv6bBlOQPwNBRecYetDznmA&usqp=CAU"
         alt="GFG image"  width="200"
         height="200" />
    <br>
    <br>
    <h1 style="color:red" align="center"><b>Payment Successful</b></h1>
    <br>
    <h2 style="color:blue" align="center">Congratulations!!Your Vehicle Order is Confirmed</h2><br><br>
    <br>
    <button  style="height:30px;width:80px"><b><a style="color:red" href="/past_orders/">Back</a></b></button>
</div>
</body>
</html>
