<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment</title>
    <style>
        /* Add CSS styles to set the background image */
        body {
            background-image: url('https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OXx8Y2FyJTIwcmVudGFsfGVufDB8fDB8fHww&w=1000&q=80');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed; /* Keeps the background fixed while scrolling */
        }
    </style>
</head>
<body>
<h1 style="color:red" align="center"><b></b></h1>
<br>
<br>
<div class="container mt-4" style="text-align: center;">
    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Payment_Done.gif?20201009142611"
         alt="GFG image"  width="200" height="200" />
    <br>
    <br>
    <h1 style="color:purple" align="center"><b>Payment Successful</b></h1>
    <br>
    <h2 style="color:red" align="center"><b>Congratulations!! Your Vehicle Order is Confirmed</b></h2><br><br>

    <br><br>
    <button style="height:30px;width:80px"><b><a style="color:purple" href="/past_orders/">Back</a></b></button>
</div>
</body>
</html>
